@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.suxkonteiner {
  background-color: white;
  height: 174px;
}

.accordion .item {
  border: 1px solid gray;
  margin-bottom: 32px;
  background: none;
}

.frequently {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  text-align: center;
}

h4 {
  color: #1e1000;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 150% */
  letter-spacing: -0.5px;
  text-transform: capitalize;
}

p {
  color: rgba(30, 16, 0, 0.71);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 28.8px */
  text-transform: capitalize;
}
.t-p {
  color: #aaa;
  font-feature-settings: "liga" off, "clig" off;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.startHeader {
  /* background: linear-gradient(358deg, #000 -10.63%, rgba(0, 0, 0, 0) 98.03%); */
  background: linear-gradient(358deg, #000 -10.63%, rgba(0, 0, 0, 0.5) 100%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logoss {
  margin-top: -5px;
  width: 50px;
  border-radius: 30px;
  display: flex;
}

header .logo {
  position: relative;
  top: 30px;
  padding-left: 120px;
  display: flex;
  gap: 12px;
  color: white;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h1 {
  color: white;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.5px;
}

p {
  color: rgba(255, 255, 255, 0.71);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-left: 5px;
}
.accordion .item .item-header h2 button.btn.btn-link {
  color: rgb(0, 0, 0);
  border-radius: 0px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 2.5;
  text-decoration: none;
}
.accordion .item .item-header {
  border-bottom: none;
  background: transparent;
  padding: 0px;
  margin: 2px;
}
.accordion .item .item-header h2 button {
  color: white;
  font-size: 20px;
  padding: 15px;
  display: block;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "poppins";
}
.accordion .item .item-header h2 i {
  float: right;
  font-size: 30px;
  color: #494949;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
button.btn.btn-link.collapsed i {
  transform: rotate(-90deg);
}
button.btn.btn-link i {
  transform: rotate();
  transition: 0.5s;
}

nav {
  display: flex;
  gap: 37px;
}

nav a {
  position: relative;
  left: -300px;
  top: 29px;
  text-decoration: none;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

nav .auth a {
  position: relative;
  left: -120px;
  margin-left: 10px;
  padding: 5px 10px;
}

nav .signup {
  border: 1px solid white;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  text-align: left;
  padding: 0 10%;
}

.hero .text {
  width: 50%;
}

.hero .text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero .text p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.hero .text .btn {
  width: 165px;
  height: 56px;
  flex-shrink: 0;
  background: #ff9f34;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0;
  cursor: pointer;
}

.Watch Video {
  border: 1px solid white;
}

.hero .video {
  display: flex;
  width: 50%;
  text-align: center;
}

.hero .video iframe {
  width: 100%;
  height: 325px;
  border: none;
  border-radius: 17px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  position: relative;
}

.modal-content h2 {
  font-family: poppins;
  margin-bottom: 20px;
  color: rgb(255, 0, 0);
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 7px;
}

.modal-content button {
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  font-family: poppins;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #ff0000;
}

.sidebar-close {
  position: fixed;
  top: 20%;
  right: 0;
  width: 40px;
  height: 40px;
  font-family: poppins;
  color: white;
  border-radius: 5px 0 0 5px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

.sidebar-close.active {
  display: flex;
}}