
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: Arial, sans-serif;
}

.startHeader {
  background: linear-gradient(358deg, #000 -10.63%, rgba(0, 0, 0, 0.5) 100%);
  overflow-x: hidden;
  /* background: linear-gradient(358deg, #000 -10.63%, rgba(0, 0, 0, 0) 98.03%); */
  /* background: linear-gradient(358deg, #000 -10.63%, rgba(0, 0, 0, 0.5) 100%); */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logoss {
  margin-top: -5px;
  width: 50px;
  border-radius: 30px;
  display: flex;
}

header .logo {
  position: relative;
  top: 30px;
  padding-left: 120px;
  display: flex;
  gap: 12px;
  color: white;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h1 {
  color: white;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.5px;
}

p {
  color: rgba(255, 255, 255, 0.71);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

nav {
  display: flex;
  gap: 37px;
}

nav a {
  position: relative;
  left: -300px;
  top: 29px;
  text-decoration: none;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

nav .auth a {
  position: relative;
  left: -120px;
  margin-left: 10px;
  padding: 5px 10px;
}

nav .signup {
  border: 1px solid white;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  text-align: left;
  padding: 0 10%;
}

.hero .text {
  width: 50%;
}

.hero .text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero .text p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.hero .text .btn {
  width: 165px;
  height: 56px;
  flex-shrink: 0;
  background: #ff9f34;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0;
  cursor: pointer;
}

.hero .video {
  display: flex;
  width: 50%;
  text-align: center;
}

.hero .video iframe {
  width: 100%;
  height: 325px;
  border: none;
  border-radius: 17px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  position: relative;
}

.modal-content h2 {
  font-family: poppins;
  margin-bottom: 20px;
  color: rgb(255, 0, 0);
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 7px;
}

.modal-content button {
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  font-family: poppins;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #ff0000;
}

.sidebar-close {
  position: fixed;
  top: 20%;
  right: 0;
  width: 40px;
  height: 40px;
  font-family: poppins;
  color: white;
  border-radius: 5px 0 0 5px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

.sidebar-close.active {
  display: flex;
}
/* Software agency landing page */

#footer{
    height: 100vh;
    width: 100%;
}

.footerlogo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.topDiv{
    background-color: #FFF8F1;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 14px;
}

.fotterH1{
    color: #1E1000;
    font-weight: 700;
}

.footerP{
    font-size: 13px;
    font-weight: 400;
    color: rgba(30, 16, 0, 0.71);
    text-align: center;
}

.footerYellowButton{
    padding: 10px 25px;
    background-color: #FF9F34;
    color: white;
    border: none;
    cursor: pointer;
}

.footerYellowButton:hover{
    background-color: #f9b86d;
}


.bottomDiv{
    /* width: 100%; */
    background-color: #402613;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
}


.socialMediaLinks{
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
}

.SMLogo{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 25px;
}

.SCLogos{
    width: 30px;
    height: 30px;
}

.leftTop{
    display: flex;
    align-items: center;
    gap: 7px;
}

.LinksH3{
    color: white;
}

.footerLeftP{
    color: rgba(255, 255, 255, 0.71);
    font-weight: 400;
    font-size: 16px;
}

.linksAbout{
    display: flex;
    justify-content: center;
    gap: 70px;
}

.footerLinks{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footerAbout{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.footerResorces{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.FooterTitleH3{
    color: white;
}

.List{
    color: rgba(255, 255, 255, 0.71);
    font-size: 12px;
}


.footerOurOffice{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.bottomDivBottom{
    background-color: #402613;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}

.BottomBottomBottomP{
    color: rgba(255, 255, 255, 0.71);
}



@media (max-width: 850px) {

    .bottomDiv{
        display: flex;
    }
    
    .footerAbout{
        display: none;
    }
}


@media (max-width: 835px) {

  .bottomDiv{
      display: flex;
      flex-direction: column;
  }

  .linksAbout{
    justify-content:left;
  }
  
  .footerAbout{
      display: none;
  }

  .fotterH1{
    font-size: 25px;
  }

  .footerP{
    font-size: 12px;
  }
}