* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.startHeader {
  /* background: linear-gradient(358deg, #000 -10.63%, rgba(0, 0, 0, 0) 98.03%); */
  background: linear-gradient(358deg, #000 -10.63%, rgba(0, 0, 0, 0.5) 100%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logoss {
  margin-top: -5px;
  width: 50px;
  border-radius: 30px;
  display: flex;
}

header .logo {
  position: relative;
  top: 30px;
  padding-left: 120px;
  display: flex;
  gap: 12px;
  color: white;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h1 {
  color: white;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.5px;
}

p {
  color: rgba(255, 255, 255, 0.71);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

nav {
  display: flex;
  gap: 37px;
}

nav a {
  position: relative;
  left: -300px;
  top: 29px;
  text-decoration: none;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

nav .auth a {
  position: relative;
  left: -120px;
  margin-left: 10px;
  padding: 5px 10px;
}

nav .signup {
  border: 1px solid white;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  text-align: left;
  padding: 0 10%;
}

.hero .text {
  width: 50%;
}

.hero .text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero .text p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.hero .text .btn {
  width: 165px;
  height: 56px;
  flex-shrink: 0;
  background: #ff9f34;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0;
  cursor: pointer;
}

.hero .video {
  display: flex;
  width: 50%;
  text-align: center;
}

.hero .video iframe {
  width: 100%;
  height: 325px;
  border: none;
  border-radius: 17px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  position: relative;
}

.modal-content h2 {
  font-family: poppins;
  margin-bottom: 20px;
  color: rgb(255, 0, 0);
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 7px;
}

.modal-content button {
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  font-family: poppins;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #ff0000;
}

.sidebar-close {
  position: fixed;
  top: 20%;
  right: 0;
  width: 40px;
  height: 40px;
  font-family: poppins;
  color: white;
  border-radius: 5px 0 0 5px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

.sidebar-close.active {
  display: flex;
}

.main-section {
  display: flex;
  justify-content: space-around;
  background-color:#FFF8F1;
  padding: 80px 100px;
}

.main-section p, h5 {
  color: #1E1000;
  font-size: 40px;
}

.experience p, .custome p {
  font-weight: 400;
  font-family: Poppins;
  line-height: 60px;
  letter-spacing: 0.5px;
}

.custome-text p {
  color: #1E1000B5;
  font-size: 16px;
  justify-content: end;
  align-items: end;
}

.two-container {
  margin-top: 300px;
  position: relative;
}

.under-container {
  background-color: #402613;
  float: right;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  padding: 52px 110px 60px 500px;
}

.under-container-text h4 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 60px;
  color: #FFFFFF;
}

.under-container-text p {
  padding-top: 24px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.top-container-image img{
  width: 600px;
  height: 500px;
  position: absolute;
}
