* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif; 
}

.startHeader {
  /* background: linear-gradient(358deg, #000 -10.63%, rgba(0, 0, 0, 0) 98.03%); */
  background: linear-gradient(358deg, #000 -10.63%, rgba(0, 0, 0, 0.5) 100%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logoss {
  margin-top: -5px;
  width: 50px;
  border-radius: 30px;
  display: flex;
}

header .logo {
  position: relative;
  top: 30px;
  padding-left: 120px;
  display: flex;
  gap: 12px;
  color: white;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h1 {
  color: white;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.5px;
}

p {
  color: rgba(255, 255, 255, 0.71);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

nav {
  display: flex;
  gap: 37px;
}

nav a {
  position: relative;
  left: -300px;
  top: 29px;
  text-decoration: none;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

nav .auth a {
  position: relative;
  left: -120px;
  margin-left: 10px;
  padding: 5px 10px;
}

nav .signup {
  border: 1px solid white;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  text-align: left;
  padding: 0 10%;
}

.hero .text {
  width: 50%;
}

.hero .text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero .text p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.hero .text .btn {
  width: 165px;
  height: 56px;
  flex-shrink: 0;
  background: #ff9f34;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0;
  cursor: pointer;
}

.hero .video {
  display: flex;
  width: 50%;
  text-align: center;
}

.hero .video iframe {
  width: 100%;
  height: 325px;
  border: none;
  border-radius: 17px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  position: relative;
}

.modal-content h2 {
  font-family: poppins;
  margin-bottom: 20px;
  color: rgb(255, 0, 0);
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 7px;
}

.modal-content button {
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  font-family: poppins;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #ff0000;
}

.sidebar-close {
  position: fixed;
  top: 20%;
  right: 0;
  width: 40px;
  height: 40px;
  font-family: poppins;
  color: white;
  border-radius: 5px 0 0 5px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

.show-video {
  position: relative;
  top: -50px;
  left: 160px;
  display: none;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 156px;
  height: 50px;
  flex-shrink: 0;
  border: 1.2px solid #fff;

  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.video-container.visible {
  opacity: 1;
  visibility: visible;
}

.video-content {
  position: relative;
  width: 90%;
  max-width: 600px;
  animation: slide-up 0.5s ease-out;
}

video {
  width: 100%;
  border-radius: 10px;
  outline: none;
}

.close-video {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  border: none;
  border-radius: 100px;
  width: 10px;
  height: 5px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.sidebar-close.active {
  display: flex;
}

@media screen and (max-width: 1310px) {
  nav {
    display: none;
  }

  /* iframe {
    display: none;
  } */
}

@media screen and (max-width: 768px) {
  .logo {
    position: relative;
    left: -120px;
  }

  .hero .text {
    position: relative;
    top: -120px;
    width: 100%;
    margin-bottom: 100px;
  }

  .hero .text h1 {
    font-size: 1.8rem;
    line-height: 1.4;
  }

  .hero .text p {
    font-size: 0.9rem;
  }

  .hero .text .btn {
    width: 140px;
    height: 50px;
    font-size: 14px;
  }

  .hero .video {
    width: 100%;
    margin-bottom: 20px;
    display: none;
  }

  .hero .video iframe {
    height: 200px;
  }
}

@media screen and (max-width: 540px) {
  .hero {
    padding: 20px;
  }

  .hero .text h1 {
    font-size: 1.5rem;
  }

  .hero .text p {
    font-size: 0.8rem;
  }

  .hero .text .btn {
    padding: 10px;
    font-size: 12px;
  }

  .hero .video iframe {
    height: 180px;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 750px) and (min-width: 350px) {
  .show-video {
    display: block;
  }
}

@media (max-width: 349px),
(min-width: 751px) {
  .show-video {
    display: none;
  }
}
.main-section {
  display: flex;
  justify-content: space-around;
  background-color:#FFF8F1;
  padding: 80px 100px;
}

.main-section p, h5 {
  color: #1E1000;
  font-size: 40px;
}

.experience p, .custome p {
  font-weight: 400;
  font-family: Poppins;
  line-height: 60px;
  letter-spacing: 0.5px;
}

.custome-text p {
  color: #1E1000B5;
  font-size: 16px;
  justify-content: end;
  align-items: end;
}

.two-container {
  margin-top: 300px;
  position: relative;
}

.under-container {
  background-color: #402613;
  float: right;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  padding: 52px 110px 60px 500px;
}

.under-container-text h4 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 60px;
  color: #FFFFFF;
}

.under-container-text p {
  padding-top: 24px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.top-container-image {
  position: relative;
}

.top-container-image img{
  width: 600px;
  height: 500px;
  position: absolute;
  left: 120px;
  top: -140px;
}


#ITSolutions{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.ITSolutionsH1{
  color: #1E1000;
  text-align: center;
  font-family: 'Poppins';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  margin-top: 20px;
}

.bottombottomIT{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.iTBottomDiv{
  display: flex;
  flex-direction: column;
}

.ITLeftDiv{
  width: 100%;
  padding-left: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ITrightDiv{
  width: 100%;
  padding-right: 120px;
}

.ITH4{
  color: #121212;
  font-family: 'Poppins';
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}


.ITP{
  color: rgba(30, 16, 0, 0.71);
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}


#BestQuality{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #c3c3c3;
}

.ITSolutionsH11{
  display: none;
  color: #1E1000;
  text-align: center;
  font-family: 'Poppins';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  margin-top: 20px;
}

.ButtonleftDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#AffordablePrices{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #c3c3c3;
}

#CustemerServices{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #c3c3c3;
}

#ITImgHover{
  width: 500px;
  height: 370px;
}

@media (max-width: 1200px) {
  .ITH4{
    font-size: 20px;
  }
  
  
  .ITP{
    font-size: 10px;
  }
}

@media (max-width: 1100px) {
  .iTBottomDiv{
    flex-direction: column;
  }

  .ITSolutionsH11{
    display: flex;
    order: 2;
  }
  

  .bottombottomIT{
    flex-direction: column;
  }

  .ITrightDiv{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-right: 0;
    order: 1;
  }

  .ITSolutionsH1{
    display: none;
  }

  .ITLeftDiv{
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    order: 3;
  }

  .ITH4{
    font-size: 30px;
    text-align: center;
  }
  
  
  .ITP{
    font-size: 20px;
    text-align: center;
  }
@media screen and (max-width: 1310px) {
  nav {
    display: none;
  }

  /* iframe {
    display: none;
  } */
}

@media screen and (max-width: 768px) {
  .logo {
    position: relative;
    left: -120px;
  }

  .hero .text {
    position: relative;
    top: -120px;
    width: 100%;
    margin-bottom: 100px;
  }

  .hero .text h1 {
    font-size: 1.8rem;
    line-height: 1.4;
  }

  .hero .text p {
    font-size: 0.9rem;
  }

  .hero .text .btn {
    width: 140px;
    height: 50px;
    font-size: 14px;
  }

  .hero .video {
    width: 100%;
    margin-bottom: 20px;
    display: none;
  }

  .hero .video iframe {
    height: 200px;
  }
}

@media screen and (max-width: 540px) {
  .hero {
    padding: 20px;
  }

  .hero .text h1 {
    font-size: 1.5rem;
  }

  .hero .text p {
    font-size: 0.8rem;
  }

  .hero .text .btn {
    padding: 10px;
    font-size: 12px;
  }

  .hero .video iframe {
    height: 180px;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 750px) and (min-width: 350px) {
  .show-video {
    display: block;
  }
}

@media (max-width: 349px),
(min-width: 751px) {
  .show-video {
    display: none;
  }
}
.main-section {
  display: flex;
  justify-content: space-around;
  background-color:#FFF8F1;
  padding: 80px 100px;
}

.main-section p, h5 {
  color: #1E1000;
  font-size: 40px;
}

.experience p, .custome p {
  font-weight: 400;
  font-family: Poppins;
  line-height: 60px;
  letter-spacing: 0.5px;
}

.custome-text p {
  color: #1E1000B5;
  font-size: 16px;
  justify-content: end;
  align-items: end;
}

.two-container {
  margin-top: 300px;
  position: relative;
}

.under-container {
  background-color: #402613;
  float: right;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  padding: 52px 110px 60px 500px;
}

.under-container-text h4 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 60px;
  color: #FFFFFF;
}

.under-container-text p {
  padding-top: 24px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.top-container-image {
  position: relative;
}

.top-container-image img{
  width: 600px;
  height: 500px;
  position: absolute;
  left: 120px;
  top: -140px;
}
}
.text-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 200px;
  margin-top: 60px;
}

.text-content h4 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: .5px;
  color: #1E1000;
}

.text-content p {
  font-size: 16px;
  line-height: 32px;
  color: #1E1000B5;
}

.three-container {
  margin-top: 50px;
  display: flex;          
  justify-content: center;
  gap: 24px;
}

.three-container span {
  color: #FF9F34;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 20px 0 8px 0;
}

.three-container h6 {
  color: #1E1000;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: .5px;
}

.three-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.gray-box {
  background-color: gray;
  width: 384px;
  height: 300px;
}

#footer{
  height: 100vh;
  width: 100%;
}

.footerlogo{
width: 50px;
height: 50px;
border-radius: 50%;
}
.topDiv{
  background-color: #FFF8F1;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 14px;
}

.fotterH1{
  color: #1E1000;
  font-weight: 700;
}

.footerP{
  font-size: 13px;
  font-weight: 400;
  color: rgba(30, 16, 0, 0.71);
  text-align: center;
}

.footerYellowButton{
  padding: 10px 25px;
  background-color: #FF9F34;
  color: white;
  border: none;
  cursor: pointer;
}

.footerYellowButton:hover{
  background-color: #f9b86d;
}


.bottomDiv{
  /* width: 100%; */
  background-color: #402613;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 50px;
}


.socialMediaLinks{
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}

.SMLogo{
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 25px;
}

.SCLogos{
  width: 30px;
  height: 30px;
}

.leftTop{
  display: flex;
  align-items: center;
  gap: 7px;
}

.LinksH3{
  color: white;
}

.footerLeftP{
  color: rgba(255, 255, 255, 0.71);
  font-weight: 400;
  font-size: 16px;
}

.linksAbout{
  display: flex;
  justify-content: center;
  gap: 70px;
}

.footerLinks{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footerAbout{
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.footerResorces{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.FooterTitleH3{
  color: white;
}

.List{
  color: rgba(255, 255, 255, 0.71);
  font-size: 12px;
}


.footerOurOffice{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.bottomDivBottom{
  background-color: #402613;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
  display: flex;
  justify-content: center;
  align-items: center;
}

.BottomBottomBottomP{
  color: rgba(255, 255, 255, 0.71);
}



@media (max-width: 850px) {

  .bottomDiv{
      display: flex;
  }

  .footerAbout{
      display: none;
  }
}


@media (max-width: 835px) {

.bottomDiv{
    display: flex;
    flex-direction: column;
}

.linksAbout{
  justify-content:left;
}

.footerAbout{
    display: none;
}

.fotterH1{
  font-size: 25px;
}

.footerP{
  font-size: 12px;
}
}